.headli5 { margin:12px 0px 9px 5px; padding-right:5px; line-height:15px; height:15px; text-align:center; float:left;}
.headli5 a { color:#565656;}
.headli6 { margin:13px 0px 9px 5px; padding-right:5px; height:11px; line-height:11px; text-align:center; float:left;background:url("../images/company/iicon5.jpg") left top no-repeat;}
.headli6 a { color:#565656;}

.headul3 { width:947px; float:left; margin-left:8px;}

.headpart3 { background:url("../images/company/headbg.jpg") left top repeat-x; width:963px; height:35px;}