/* CSS Document */
/* Loading Animation*/
* {margin: 0;padding: 0;outline: 0;}
input, img {
vertical-align: middle;
}
.loading-container {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: url(loading-bg.jpg) no-repeat ;
	background-size:cover;
}
.loading-outer,
.loading-inner,
.loading-logo {
	width: 24%;
	position: absolute;
	top: 26%;
	left: 38%;
}
.loading-outer {
	-webkit-animation: bounceLeft 1s infinite linear;
	animation: bounceLeft 1s infinite linear;
}
.loading-inner {
	-webkit-animation: bounceRight 1s infinite linear;
	animation: bounceRight 1s infinite linear;
}
.loading-text {
	width: 21%;
	position: absolute;
	top: 45%;
	left: 38%;
}
.loading-text {
	-webkit-animation: fadeIn .5s linear;
	animation: fadeIn .5s linear;
}
.loading-point {
	width: 4%;
	position: absolute;
	top: 45%;
	left: 59%;
}
.loading-point {
	-webkit-animation: fadeIn .5s infinite linear;
	animation: fadeIn .5s infinite linear;
}
@-webkit-keyframes bounceLeft {
	0% {
		-webkit-transform: rotate(-360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@keyframes bounceLeft {
	0% {
		-webkit-transform: rotate(-360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@-webkit-keyframes bounceRight {
	0% {
		-webkit-transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@keyframes bounceRight {
	0% {
		-webkit-transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.full{
    overflow: hidden;
}

.full li span{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.arrow-left{
   
    position: absolute;
    width: 6%;
    height: 7%;
    line-height: 30px;
    font-size: 30px;
    margin:0 auto;
    top:48.5%;
    background-image:url(/yqh/img/jm/left.png);
    background-size:100% auto;
    -webkit-animation:arrowleft 1s ease-out infinite; z-index:150;
}
.arrow-right
{
    top:48.5%;
    background-size:100% auto;
    position: absolute;
    width: 6%;
    height: 7%;
    right:0;
    line-height: 30px;
    font-size: 30px;
    margin:0 auto;
   background-image:url(/yqh/img/jm/right.png);
   -webkit-animation:arrowright 1s ease-out infinite; z-index:150;
}


@-webkit-keyframes arrowleft{
    0%{
        -webkit-transform:translate3d(50%,0, 0);
        opacity:1;
    }
    100%{
        -webkit-transform:translate3d(0, 0, 0);
        opacity:0;
    }
}
@-webkit-keyframes arrowright{
    0%{
        -webkit-transform:translate3d(-50%,0, 0);
        opacity:1;
    }
    100%{
        -webkit-transform:translate3d(0, 0, 0);
        opacity:0;
    }
}
@-webkit-keyframes arrowtop{
    0%{
        -webkit-transform:translate3d(0,50%, 0);
        opacity:1;
    }
    100%{
        -webkit-transform:translate3d(0, 0, 0);
        opacity:0;
    }
}

    @-webkit-keyframes BgZoom{0%{-webkit-transform:scale(1)}100%{-webkit-transform:scale(1.2)}}
        @-webkit-keyframes reverseRotataZ{0%{-webkit-transform:rotateZ(0deg)}100%{-webkit-transform:rotateZ(-360deg)}}
	.u-globalAudio.z-play .icon-music {-webkit-animation: reverseRotataZ 1.2s linear infinite; }
    .m-bg-zoom{-webkit-animation: BgZoom 10s linear infinite; animation: BgZoom 10s linear infinite; -o-animation: BgZoom 10s linear infinite; }
    .u-globalAudio {left: 86%; }
    .app-header{position:fixed;top:0;width:640px;z-index:100}
    .u-globalAudio .icon-music{width:35px;height:35px;background:url(/images/units-icons.png);display:block; background-size:cover;}
    .u-globalAudio.z-play .icon-music{-webkit-animation:reverseRotataZ 1.2s linear infinite}
    .u-globalAudio{color:#fff;text-decoration:none;font-size:24px;position:fixed;bottom:28px;display:block;z-index:9999}

     .spinner { width: 60px;height: 60px;background-color: #67CF22;margin: 0 auto;-webkit-animation: rotateplane 1.2s infinite ease-in-out;
}
   @-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)} 
  50% {-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) } 
  100% {-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}
          #slide01
        {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0 auto;
        }
        #slide01 .content
        {
            width: 100%;
           
            list-style: none;
            -webkit-padding-start: 0;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
        }
        #slide01 .controller a:hover, #slide01 .controller .current a
        {
            background: #000;
            color: #fff;
        }
         @-webkit-keyframes moveleft{0%{ -webkit-transform:  translate3d(60px, 0, 0); opacity:0;}100%{opacity:1; -webkit-transform:  translate3d(0,0, 0);}}
        @-webkit-keyframes moveright{0%{ -webkit-transform:  translate3d(-60px, 0, 0);opacity:0;}100%{opacity:1;-webkit-transform:  translate3d(0, 0, 0);}}
        @-webkit-keyframes movebutton{0%{ -webkit-transform:  translate3d(0, 150px, 0);opacity:0;}100%{opacity:1;-webkit-transform:  translate3d(0, 0, 0);}}
        @-webkit-keyframes movetop{0%{ -webkit-transform:  translate3d(0, -150px, 0);opacity:0;}100%{opacity:1;-webkit-transform:  translate3d(0, 0, 0);}}
        @-webkit-keyframes  biginfo{0%{-webkit-transform: perspective(400px) translatez(0) rotatey(0) scale(0.1);opacity:0;} 100%{-webkit-transform: perspective(400px) translatez(0) rotatey(0) scale(1);opacity:1;}}
         @-webkit-keyframes reverseRotataZ{0%{-webkit-transform:rotateZ(0deg)}100%{-webkit-transform:rotateZ(-360deg)}}
	@-webkit-keyframes bounceInDown {0% {opacity: 0;-webkit-transform: translate3d(0, -100px, 0);}100% {-webkit-transform: none;opacity:1;}}
	@-webkit-keyframes bounceInUp{0% {opacity: 0;-webkit-transform: translate3d(0, 200px, 0);}100% {-webkit-transform: none;opacity:1;}}
        @-webkit-keyframes bounceleft{0% {opacity: 0;-webkit-transform: translate3d(-150px, 0, 0);}100% {-webkit-transform: none;opacity:1;}}
	 @-webkit-keyframes bounceright{0% {opacity: 0;-webkit-transform: translate3d(300px, 0, 0);}100% {-webkit-transform: none;opacity:1;}}
	@-webkit-keyframes rollIn {0% {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);}100% {opacity: 1;-webkit-transform: none;transform: none;}}

	@-webkit-keyframes rotateIn {0% {-webkit-transform-origin: center;-webkit-transform: rotate3d(0, 0, 1, -200deg);opacity: 0;}100% {-webkit-transform-origin: center;-webkit-transform: none;opacity: 1;}}
	@-webkit-keyframes lightspeedin {0% { -webkit-transform: translatex(100%) skewx(-30deg); opacity: 0; }60% { -webkit-transform: translatex(-20%) skewx(30deg); opacity: 1; }80% { -webkit-transform: translatex(0%) skewx(-15deg); opacity: 1; }100% { -webkit-transform: translatex(0%) skewx(0deg); opacity: 1; }}    
	
    @-webkit-keyframes bounceroat{0% {opacity: 1;-webkit-transform: none;}100%{-webkit-transform: rotate3d(1,0,0,180deg);opacity: 0;}}
	@-webkit-keyframes slideLeft{0%{-webkit-transform:translateX(150%);opacity:0;}50%{-webkit-transform:translateX(-8%);}65%{-webkit-transform:translateX(4%);}80%{-webkit-transform:translateX(-4%);}95%{-webkit-transform:translateX(2%);}100%{-webkit-transform:translateX(0%);opacity:1;}}
	@-webkit-keyframes slideRight{0%{-webkit-transform:translateX(-150%);opacity:0;}50%{-webkit-transform:translateX(8%);}65%{-webkit-transform:translateX(-4%);}80%{-webkit-transform:translateX(4%);}95%{-webkit-transform:translateX(-2%);}100%{-webkit-transform:translateX(0%);opacity:1;}}
	
	@-webkit-keyframes show1{0%{opacity:0;}100%{opacity:1;}}
	
	.wp .arrow{
   
    position: absolute;
    width: 10%;
    height: 10%;
    line-height: 30px;
    font-size: 30px;
    margin:0 auto;
    left:45%;
    bottom:5px;
}
	.wp .arrow-left{-webkit-animation:arrowtop 1s ease-out infinite; z-index:150;}
	