<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
  <configSections>
    <section name="PdmConfiguration" type="PopedomAuditService.PdmConfiguration, PopedomAuditService"/>
  </configSections>
  <PdmConfiguration>
    <add key="ConnStr" value="Data Source=.;Initial Catalog=MpGGDB;User ID=sa;Password=123456"/>
    <add key="LoginUrl" value="admin_login.aspx"/>
    <add key="ImgUrl" value="img.aspx"/>
    <add key="SessionName" value="admin"/>
    <add key="ErrUrl" value="err.aspx"/>
    <add key="BaseIndex" value="2"/>
    <!--BaseIndex  xp=3 ,server=2-->
    <add key="FileServer" value=""/>
    <add key="FileServerPath" value="Files"/>
    <add key="CommendDir" value="D:\DcBuick\"/>
    <add key="FileDir" value="D:\web\jmhinfo\files\"/>
    <!--中心名称-->
    <add key="WebAddress" value="微信公众平台"/>
    <!--4S中心代码 1花木 2御桥 3 苏州-->
    <add key="WebCode" value="2"/>
    <!--车系图-->
    <add key="SeriesImg" value="SeriesImg"/>
    <!--车图-->
    <add key="CarImg" value="CarImg"/>
    <!--配件图片-->
    <add key="FitImg" value="FitImg"/>
    <!--二手车-->
    <add key="Second" value="Second"/>
    <!--新闻图片-->
    <add key="NewsImg" value="NewsImg"/>
    <!--活动图片-->
    <add key="ActiveImg" value="ActiveImg"/>
    <!--首页服务明星-->
    <add key="IndexImg" value="IndexImg"/>
    <!--视频-->
    <add key="Videos" value="Videos"/>
    <add key="ScrollColorXml" value="D:\5.buick\BuickNew\Huamu\xmlsettings\scrollmessagecolor.xml"/>
    <!--竞拍xml路径-->
    <add key="auctionxmlpath" value="D:\5.buick\2.huamu\2.code\BuickHuamu\BuickWebUI\xmls\"/>
    <add key="PopedomAudit" value="false"/>
    <!--寄卖二手车图片Url-->
    <add key="SellOldCarUrl" value="http://yuqiao.dongchanggm.com.cn/files/second/"/>
  </PdmConfiguration>
  <appSettings>
    <!--支付信息-->
    <add key="WeixinPay_Tenpay" value="1"/>
    <add key="WeixinPay_PartnerId" value=""/>
    <add key="WeixinPay_Key" value=""/>
    <add key="WeixinPay_AppId" value=""/>
    <add key="WeixinPay_AppKey" value=""/>
    <add key="WeixinPay_TenpayNotify" value=""/>
    <add key="ProductPicPath" value="d:\PIC"/>
    <add key="wxappid" value=""/>
    <add key="wxsecret" value=""/>
    <add key="picShowR" value="222,333"/>
    <!--上传图片保存的路径-->
    <add key="picWallPath" value="D:\Web\jmhinfo\manage\"/>
    <!--当前设置的token-->
    <!--当前设置的token-->
    <add key="APPToken" value=""/>
    <add key="AesKey" value=""/>
    <add key="AppId" value=""/>
    <!--FredCK.FCKeditorV2-->
    <!--上传文件大小-->
    <add key="MaxAttachSize" value="2"/>
    <add key="MerChantId" value="4576"/>
    <add key="MerChantName" value="万圣节活动"/>
    <add key="totalHB" value="2000"/>
    <add key="minhb" value="1"/>
    <add key="maxhb" value="1.2"/>
    <add key="starttime" value="2015-10-25"/>
    <add key="endtime" value="2015-10-30"/>
    <add key="zswz" value=""/>
    <add key="hbzf" value="D3舍祝你生活愉快！"/>
    <add key="hbname" value="D3舍万圣节红包"/>
    <add key="hbDesc" value="D3舍万圣节红包"/>
    <add key ="sendname" value="合生广富汇"/>
    <add key="hbje" value="30"/>

    <add key="starttime1" value="2015-10-25"/>
    <add key="endtime1" value="2015-10-30"/>
    <add key="totalHB1" value="200000"/>
    <add key="hbzf1" value="海赋尚品生活愉快！"/>
    <add key="hbname1" value="海赋尚品认筹红包"/>
    <add key="hbDesc1" value="海赋尚品认筹红包"/>
    <add key ="sendname1" value="海赋尚品认筹"/>
    <add key="phonelist" value="13917599406,13601921229,13901813508,13916191974,13391077170,18621901978,13916152691,15000569152,13601834879,13764311040"/>
    <add key="zcname" value=""/>
    <add key="starttime3" value="2015-10-25"/>
    <add key="endtime3" value="2015-10-30"/>
    <add key="totalHB3" value="500000"/>
    <add key="hbzf3" value="海赋尚品生活愉快！"/>
    <add key="hbname3" value="海赋尚品认筹红包"/>
    <add key="hbDesc3" value="海赋尚品认筹红包"/>
    <add key ="sendname3" value="海赋尚品认筹"/>
    <add key="wxappid1" value=""/>
    <add key="wxsecret1" value=""/>
    <add key="WeixinPay_PartnerId1" value=""/>
    <add key="WeixinPay_Key1" value=""/>
    <add key="zswz3" value=""/>

    <add key="starttime4" value="2015-10-25"/>
    <add key="endtime4" value="2015-10-30"/>
    <add key="totalHB4" value="500000"/>
    <add key="hbzf4" value="碧然之家购物现金红包！"/>
    <add key="hbname4" value="碧然之家购物现金红包"/>
    <add key="hbDesc4" value="碧然之家购物现金红包"/>
    <add key ="sendname4" value="碧然之家"/>



    <add key="starttime5" value="2016-01-12"/>
    <add key="endtime5" value="2016-02-13"/>
    <add key="totalHB5" value="870000"/>
    <add key="hbzf5" value="燕山一號老业主感恩回馈！"/>
    <add key="hbname5" value="燕山一號老业主感恩回馈现金红包"/>
    <add key="hbDesc5" value="燕山一號老业主感恩回馈现金红包"/>
    <add key ="sendname5" value="燕山一號老业主感恩回馈"/>
    <add key="WeixinPay_PartnerId5" value=""/>
    <add key="WeixinPay_Key5" value=""/>
    <add key="zswz5" value=""/>
    <add key="minhb5" value="5"/>
    <add key="maxhb5" value="10"/>
    <add key="hbje5" value="30"/>
    <add key="wxappid5" value=""/>
    <add key="wxsecret5" value=""/>
    <add key="sjd5" value="2016-01-18|2016-01-19|2016-01-20|2016-01-21|2016-01-22|2016-01-23|2016-01-24|2016-01-25|2016-01-26|2016-01-27|2016-01-28|2016-01-29|2016-01-30|2016-01-31|2016-02-01|2016-02-02|2016-02-03|2016-02-04|2016-02-05|2016-02-06|2016-02-07|2016-02-08|2016-02-09|2016-02-10|2016-02-11|2016-02-12|2016-02-13"/>

    <!--永达红包信息-->
    <add key="starttime6" value="2016-01-12"/>
    <add key="endtime6" value="2016-02-13"/>
    <add key="totalHB6" value="870000"/>
    <add key="hbzf6" value="永达金融感恩"/>
    <add key="hbname6" value="永达金融红包"/>
    <add key="hbDesc6" value="永达金融红包"/>
    <add key ="sendname6" value="永达金融"/>
    <add key="WeixinPay_PartnerId6" value=""/>
    <add key="WeixinPay_Key6" value=""/>
    <add key="sjd6" value="17:50-18:50|19:30-20:30"/>
    <add key="zswz6" value="E:\projiect\wsjhd\wsjhdWeb\yshb\img\yd\cert\"/>
    <add key="minhb6" value="5"/>
    <add key="maxhb6" value="10"/>
    <add key="hbje6" value="30"/>
    <add key="wxappid6" value=""/>
    <add key="wxsecret6" value=""/>
    <!--五洲国际红包信息-->
    <add key="starttime8" value="2016-03-31"/>
    <add key="endtime8" value="2016-04-02"/>
    <add key="totalHB8" value="100000"/>
    <add key="hbzf8" value="五洲国际签约"/>
    <add key="hbname8" value="五洲国际签约红包"/>
    <add key="hbDesc8" value="五洲国际签约红包"/>
    <add key ="sendname8" value="五洲国际"/>
    <add key="sjd8" value="09:30-12:00|14:00-14:30"/>
    <add key="zswz8" value="E:\projiect\wsjhd\wsjhdWeb\yshb\img\yd\cert\"/>
    <add key="minhb8" value="5"/>
    <add key="maxhb8" value="10"/>
    <add key="wxappid8" value=""/>
    <add key="wxsecret8" value=""/>
    <add key="WeixinPay_PartnerId8" value=""/>
    <add key="WeixinPay_Key8" value=""/>
    <add key="zswz8" value="D:\web\wsjhd\yshb\jm\yscert\apiclient_cert.p12"/>


    <!--溧阳农房红包信息-->
    <add key="starttime7" value="2016-01-24"/>
    <add key="endtime7" value="2016-02-22"/>
    <add key="totalHB7" value="300000"/>
    <add key="hbzf7" value="新年到，领红包！"/>
    <add key="hbname7" value="新年到，领红包"/>
    <add key="hbDesc7" value="新年到，领红包"/>
    <add key ="sendname7" value="英伦尊邸"/>
    <add key="sjd7" value="10:00-10:20|10:30-10:50|11:00-11:20|11:30-11:50|15:00-15:20|15:30-15:50|16:00-16:28|16:30-16:50"/>
    <add key="WeixinPay_PartnerId7" value=""/>
    <add key="WeixinPay_Key7" value=""/>
    <add key="zswz7" value="E:\work\goldinfo\goldInfoWebSite\xdyj\cert\"/>
    <add key="minhb7" value="5"/>
    <add key="maxhb7" value="10"/>
    <add key="hbje7" value="30"/>
    <add key="wxappid7" value=""/>
    <add key="wxsecret7" value=""/>


    <add key="yspic" value="E:\projiect\wsjhd\wsjhdWeb\zpzs\img\"/>

    <add key="starttime10" value="2016-05-05"/>
    <add key="endtime10" value="2016-05-09"/>

    <add key="ffexepath" value="E:\projiect\wsjhd\wsjhdWeb\zshmsg\mp3\ffmpeg.exe"/>

    <add key="endtime12" value="2016-05-30"/>
    <add key="PassWordKey" value="shwsJmIn!@fopd*"/>
    <add key="endtime14" value="2016-06-24"/>
    <add key="PassWordKey1" value="shwsxyinfo!@fopd*"/>

    <add key="curjf" value="1000"/>
    <add key="endtime16" value="2016-07-11"/>
  </appSettings>
  <connectionStrings>
    <add name="ClubCardDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=ClubCardDB;Persist Security Info=True;User ID=jzcn;Password=1qazxsw2!@;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="WXDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MpGGDB;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="DosConn" providerName="Dos.ORM.SqlServer9"
         connectionString="server=.;database=MpGGDB;uid=sa;pwd=123456;" />
  </connectionStrings>
  <system.web>
    <!--该节点设置最大的请求字节数，默认的是4096KB（4M）-->
    <httpRuntime requestValidationMode="2.0" useFullyQualifiedRedirectUrl="true" maxRequestLength="102400" executionTimeout="900"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入到
            已编译的页面。由于这会
            影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="Wuqi.Webdiyer" assembly="AspNetPager" tagPrefix="webdiyer"/>
        <add namespace="Business.Project.Website" assembly="TyTextBox" tagPrefix="dry"/>
        <add namespace="PageCtrl" assembly="PageCtrl" tagPrefix="cc1"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="index.html">
      <error statusCode="403" redirect="index.html"/>
      <error statusCode="404" redirect="index.html"/>
    </customErrors>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <!--<add name="PdmAuditer" type="PopedomAuditService.PdmAuditer, PopedomAuditService" />-->
      <!--<add name="DcbuickModule" type="BuickWeb.DcAutoModule"/>-->
    </httpModules>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
</configuration>
